.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  padding: 20px;
}

.information__input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 4px;
}

.information__button {
  width: 320px;
  height: 50px;
  font-size: 20px;
  background-color: cadetblue;
  color: white;
  border-style: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px;
}

.updateButton {
  width: 80px;
  height: 30px;
  font-size: 15px;
  background-color:coral;
  color: white;
  border:1px solid black;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px;
  margin-left: 0;
}

.deleteButton {
  width: 80px;
  height: 30px;
  font-size: 15px;
  background-color:black;
  color: white;
  border:1px solid black;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px;
}

.information__button:hover {
  color: cadetblue;
  border: 2px solid cadetblue;
  background-color: white;
  cursor: pointer;
}

.line {
  width: 40%;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: dotted;
  border-width: 5px;
  margin: 10px;
}

.employees {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.employee {
  display: flex;
  width: 1200px;
  height:100px;
  background-color: cornsilk;
  border:1px solid black;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.employee__label{
  width:350px;
  padding-right: 10px;
  }

.employee__label--small{
width:150px;
padding-right: 10px;
}

